body {
    margin: 0;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #050b3f;
}

.container {
    padding: 2% 7%;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 72px;
    margin: 0;
    /* If margin:0 isn't set there would be some weird behaviour */
}

.accent-bg {
    background-color: rgb(94, 94, 211);
}

.img-astro {
    width: 100%;
}

.split {}